h2{
    background: orange;
}
#bg_white{
    background: white;
    font-size: 5rem;
}
.text-red{
    color: red;
}
   p{
   background: blue;
    color: snow;
}
            body{
                background: lime;
            }
            
